// Console
.console {
  position: relative;
  background-color: #393939;
  cursor: auto;
  > pre {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ddd;
    background: none;
    &.status-bar {
      overflow: hidden;
      padding: 2px 10px;
      line-height: 1.5;
      cursor: default;
      user-select: none;
    }
  }
}
