<div class="content-library">
  <div class="processing-bar" ng-show="isProcessing()"></div>
  <div class="notification" ng-show="model.notification.show" ng-class="model.notification.status">{{model.notification.message}}</div>
  <div class="table-container">
    <table class="table table-basic">
      <colgroup>
        <col style="width: 50%;">
        <col style="width: 30%;">
        <col style="width: 20%;">
      </colgroup>
      <thead>
        <tr>
          <th>Name</th>
          <th>Version</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(name, version) in model.bower.dependencies">
          <th>{{name}}</th>
          <td>{{version}}</td>
          <td class="text-right"><button type="button" class="btn btn-basic btn-sm" ng-click="uninstall(name)" ng-disabled="isInCommandQueue('uninstall-' + name)">Uninstall</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="functions clearfix">
    <div class="pull-left">
      <button type="button" class="btn btn-basic" ng-click="registerCommand('bower install', 'install')" ng-disabled="!hasValidBower() || isInCommandQueue('install')">Install</button>
      <button type="button" class="btn btn-basic" ng-click="registerCommand('bower update', 'update')" ng-disabled="!hasValidBower() || isInCommandQueue('update')">Update</button>
    </div>
    <div class="pull-right">
      <button type="button" class="btn btn-basic" ui-sref="library.list" ng-disabled="!hasValidBower()">Add Libraries</button>
    </div>
  </div>
  <div class="overlay-view" ui-view></div>
</div>
